/* Font Styles */

body {

    color: #051c25;
}

* {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
}

.textScript {
    font-family: "Pinyon Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* Colors Styles */

.textColorWhite {
    color: #F7F4EF;
}

.textColorGold {
    color: #DFCCA1;
}

.textColorRed {
    color: #872337;
}

.textColorBlue {
    color: #051c25;
}

.backgroundWhite {
    background: #F7F4EF;
}

.backgroundGold {
    background: #DFCCA1;
}

.backgroundRed {
    background: #872337;
}

.backgroundBlue {
    background: #051c25;
}

.backgroundShadow {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 70%);
}

/* Navbar */

.navbar-toggler,
.offcanvasClose {
    background: none;
    border: none;
    padding: 0;
}

nav i {
    color: #F7F4EF;
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
}

nav .dropdown-toggle {
    background: none;
    border: none;
    padding: 0;
    color: #F7F4EF;
}

.offcanvas-body .nav-link {
    padding: 0.5rem;
    border-radius: var(--bs-border-radius);
}

.offcanvas-body .nav-link:hover {
    background-color: #87233788;
    color: #F7F4EF;
}

.offcanvas-body .nav-item .active {
    background-color: #87233788 !important;
}

/* Hero */

#heroSection {
    background-image: url('../imgs/b_w_roses.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6rem 0 !important;
}


.exploreCollectionButton {
    border: none;
    padding: 0.5rem 2rem;
    transition: all ease-in 0.1s;
}

.exploreCollectionButton:hover {
    background: #872337;
    color: #F7F4EF;
}

/* Scrolling Banner */

.scrollingBanner {
    overflow: hidden;
    white-space: nowrap;
    background-color: #DFCCA1;
    padding: 0;
    position: relative;
}

.scrollingText {
    display: inline-block;
    animation: scrollLeft 15s linear infinite;
    font-family: 'Pinyon Script', cursive;
    font-size: 3rem;
    padding-left: 100%;
    margin: 0;
    color: #872337;
}

@keyframes scrollLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}


/* Shopping */

.shoppingButton {
    padding: 0.25rem 1rem;
    border-radius: 0;
    border: none;
    background-color: #051c25;
    color: #F7F4EF;
    transition: all ease-in 0.1s;
}

.shoppingButton:hover {
    background-color: #872337;
    color: #DFCCA1;
}

.card {
    transition: all ease-in 0.1s;
}

.card:hover {
    scale: 1.025;
    cursor: pointer;
}

/* Stories Section */

.btnStory {
    background: #DFCCA1;
    color: #872337;
    border-radius: 2pt;
    padding: 1rem 2rem;
    font-style: italic;
}

.btnStory:hover {
    background-color: #872337;
    color: #F7F4EF;
}

#collapse1>.card,
#collapse2>.card,
#collapse3>.card {
    border-radius: 0;
    border: none;
    border-left: 3px solid #DFCCA1;
    padding: 0 1rem;
}

/* Request Section */


.requestButton {
    background-color: #051c25;
    color: #F7F4EF;
    padding: 0.5rem 2rem;
    margin: 0;
    border: none;
}

#requestSection {
    background-image: url('../imgs/b_w_roses.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}